.quran-editions {
    margin-top: 20px;
  }
  .quran-editions__title {
    font-size: 24px;
    font-weight: bold;
  }
  .quran-edition {
    margin-bottom: 10px;
  }
  .quran-edition__name {
    font-size: 20px;
    font-weight: bold;
  }
  .quran-edition__identifier,
  .quran-edition__language,
  .quran-edition__format {
    font-size: 16px;
  }